/*--- The css file for profile.html is herewith ---*/


/*--- It is arranged in four different categories: 1. classes, 2. IDs 3. General tags 4. Responsiveness functionalities ---*/


/*--- For Classes ---*/

.background-info {
	display: inline-block;
	text-align: right;
	width: 80%;
}

.central {
	/*--- Jumbotron like properties ---*/
	margin-top: 1em;
	width: 100%;
}

.central-image {
	/*--- background image for the jumbotron-like section ---*/
	width: 100%;
	height: 700px;
}

.featured-work {
	/*--- Featured Work that specifies the past and ongoing projects ---*/
	display: flex;
	flex-wrap: wrap;
}

.featured-work h2 {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 15px;
}

.horizontal-line {
	/*--- horizontal line separating the name(heaeder) and the contents ---*/
	width: 100%;
	border-bottom: 5px solid orange;
}

.linker {
	text-decoration: none;
	display: inline-block;
	padding: 24px;
	color: darkcyan;
}

.main-content {
	/*--- Main contents of all elements ---*/
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.myLogo {
	/*--- my own special logo ---*/
	display: inline-block;
	margin-top: 25px;
	vertical-align: top;
	width: 100px;
	height: 100px;
	border: 2px solid green;
}

.overview-image {
	width: 80%;
	height: 50%;
	border-radius: 5px;
}

.project {
	/*--- division so as to have three projects on a single page ---*/
	width: 33.3333%;
	text-align: center;
}


/*--- Special Tags/ HTML built-in tags ---*/

body {
	background: white;
	font-family: 'Encode Sans Condensed', sans-serif;
	color: #3B3738;
}

h1,
h2,
h3 {
	font-family: cursive, sans-serif;
}

h1 {
	font-size: 2.5em;
	color: #3B3738;
}

h2 {
	font-size: 2em;
	color: darkorange;
}

h3 {
	font-size: 1.5em;
	color: #7d97ad
}


/*--- Responsiveness Functionalities ---*/


/*--- MEDIA QUERIESS ---*/

@media screen and (max-width: 980px) {
	h1 {
		font-size: 1.7em;
	}
	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.1em;
	}
	.project {
		width: 50%;
		text-align: center;
		margin-bottom: -20px;
	}
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 1.6em;
	}
	h2 {
		font-size: 1.1em;
	}
	h3 {
		font-size: 1em;
	}
	.project {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 550px) {
	.main-content {
		width: 100%;
	}
	h1 {
		font-size: 1.4em;
		margin: 5px;
	}
	.featured-work h2 {
		margin: 15px;
		font-size: 1.2em;
	}
	h3 {
		font-size: 1em;
		margin: 15px;
	}
	.myLogo {
		display: block;
		width: 40%;
		margin: 0 auto;
	}
	.background-info {
		width: 100%;
		text-align: center;
	}
	.featured-work {
		text-align: center;
	}
	.project {
		width: 100%;
		margin-bottom: -20px;
	}
	.overview-image {
		width: 70%;
	}
	.overview {
		margin-bottom: 0;
	}
}